@using Leads.Models.Leads;
@using Leads.Services;

@inject LeadsService _leadService;
@inject NavigationManager _navigationManager;

<LoadingComponent Enabled="_isloading">
	<Table TItem="LeadsViewModel" 
		DataSource="Leads" 
		Total="Leads.Count()"
		@bind-SelectedRows="SelectedRows">

		<Selection Align="ColumnAlign.Center" Fixed="_checkboxFix" Key="@(context.Id.ToString())" />
		<ActionColumn Title="#">
			<Space>
				<SpaceItem>
					<Button OnClick="(() => GotoEdit(context.Id))" 
						Shape="@ButtonShape.Circle" 
						Type="@ButtonType.Text" 
						Style="background-color:#fafafafa">
						@(context.RowNumber)
					</Button>
					</SpaceItem>
				</Space>
			</ActionColumn>
			<PropertyColumn Align="columnAlign" Title="@(Resources.DataDictionary.FullName)" Property="c=>c.FullName" Sortable Filterable />
			<PropertyColumn Align="columnAlign" Title="@(Resources.DataDictionary.Title)" Property="c=>c.Title" Sortable Filterable />
			<PropertyColumn Align="columnAlign" Title="@(Resources.DataDictionary.Mobile)" Property="c=>c.Mobile" Sortable Filterable />
			<PropertyColumn Align="columnAlign" Title="@(Resources.DataDictionary.Indstry)" Property="c=>c.Industry.Name" Sortable Filterable />
			<PropertyColumn Align="columnAlign" Title="@(Resources.DataDictionary.LeadStatus)" Property="c=>c.LeadStatus.Name" Sortable Filterable />
			<PropertyColumn Align="columnAlign" Title="@(Resources.DataDictionary.LeadSource)" Property="c=>c.LeadSource.Name" Sortable Filterable />
			<PropertyColumn Align="columnAlign" Title="@(Resources.DataDictionary.Owner)" Property="c=>c.OwnerId" Sortable Filterable />

		</Table>
</LoadingComponent>