@page "/leads"
@using Leads.Components;

@inject NavigationManager navigationManager

<CustomPageHeader OnAddClick="NavigateToCreate" OnRefreshClick="Refresh">

	<h3>@(Resources.DataDictionary.Leads)</h3>

</CustomPageHeader>

<LeadsGrid @ref="_leadsGrid"></LeadsGrid>

@*<PageModal IsOpen="isopen" OnClose="@(() => isopen = false)" ModalTitle="CreateLead">
	<div class="row">
		<div class="col-6">
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>

		</div>
		<div class="col-6">
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
			<BitTextField Label="Standard With Two-Way Binding" @bind-Value="@TextValue"></BitTextField>
		</div>
	</div>
	<FormButtonGroup></FormButtonGroup>
</PageModal>
*@

@code {

	private  LeadsGrid? _leadsGrid;

	private string TextValue;
	private IQueryable<Models.LeadsViewModel> leads;

	private bool isopen = false;
	private void NavigateToCreate()
	{
		navigationManager.NavigateTo("/leads/create");
	}

	private async Task Refresh()
	{
		if (_leadsGrid is not null)
		{
			await _leadsGrid.GetLeadsAsync();
		}
	}
}
