@page "/leads/create"
@page "/leads/{id}"
@using Framework.Models;
@using Framework.Toasts;
@using Leads.Models.Leads;
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.Text.Encodings.Web;
@using System.Text.Unicode;

@inject Services.LeadsService _leadService
@inject NavigationManager navigationManager
@inject ToastMessage _toastMessage

<LoadingComponent Enabled="_isloading">
	<PageHeader BackIcon="true" Class="site-page-header" BackIconTemplate="icon">
		<PageHeaderTitle>@(Resources.DataDictionary.Leads)</PageHeaderTitle>
		<PageHeaderExtra>
			<Button>@(Resources.ButtonCaptions.Reset)</Button>
				<Button HtmlType="submit" OnClick="Save" Type="@ButtonType.Primary">@(Resources.ButtonCaptions.Save)</Button>
			</PageHeaderExtra>
			<PageHeaderContent>
				<Descriptions Size="small" Column="3">
					<DescriptionsItem Title="@(Resources.DataDictionary.Created)" Span="1">@(Model.CreatedBy)</DescriptionsItem>
					<DescriptionsItem Title="@(Resources.DataDictionary.CreatedAt)" Span="2"><a>@(Model.CreatedAt)</a></DescriptionsItem>
					<DescriptionsItem Title="@(Resources.DataDictionary.Modified)" Span="1">@(Model.ModifiedBy)</DescriptionsItem>
					<DescriptionsItem Title="@(Resources.DataDictionary.ModifiedAt)" Span="2">@(Model.ModifiedAt)</DescriptionsItem>
				</Descriptions>
			</PageHeaderContent>
		</PageHeader>
		<div class="my-1">
			<Segmented Block TValue="string" Labels=@(_segmentdStatus) Value="@(_segmentdStatusValue)" OnChange="StatusChanged" />
		</div>
		<div class="mt-2">
			<Leads.Forms.PrimaryForm @ref="_primaryForm" Model="Model" Options="Options" />
		</div>
	</LoadingComponent>

	@code {
	LeadsViewModel Model = new();
	bool _isloading = true;
	List<string> _segmentdStatus = new();
	string _segmentdStatusValue; 
	Leads.Models.ValueObjects.Options Options = new();

	RenderFragment icon =@<Icon Type="arrow-left" />;

	[Parameter]
	public string? Id { get; set; }
	public Leads.Forms.PrimaryForm _primaryForm { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		AdjustRightToLeft();
		await GetLeadOptions();
		await GetUserDetailsIfPageHasId();
	}

	private async Task GetLeadOptions()
	{
		_isloading = true;

		var res =
			await _leadService.GetAsync
			<Response<Leads.Models.ValueObjects.Options>>
			("Leads/options");

		Options = res.data;

		foreach (var item in Options.leadStatus)
		{
			_segmentdStatus.Add(string.Concat(item.Value + 1, ".",item.Name));
		}

		_isloading = false;
	}

	private void StatusChanged(string value)
	{
		/*
		 * The Minus ONE is for 
		 * Map the Current Code to ID in Database
		 */
		var changedStatusValue = int.Parse(value.Split(".")[0]) - 1;

		Model.LeadStatus.Value = changedStatusValue;

		_segmentdStatusValue = value;
	}

	private void AdjustRightToLeft()
	{
		if (Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
		{
			icon =@<Icon Type="arrow-right" />;
		}
	}

	private async Task Save()
	{
		var context = new ValidationContext(Model, serviceProvider: null, items: null);
		var validationResults = new List<ValidationResult>();

		if (Validator.TryValidateObject(Model, context, validationResults))
		{
			Response res = new();
			_primaryForm.LoadingEnabled = true;

			if (IsPageHasId())
			{
				Model.Id = Guid.Parse(Id);
				res = await _leadService
				.PatchAsync<LeadsViewModel, Response<LeadsViewModel>>("Leads", Model);
			}
			else
			{
				res = await _leadService
				.PostAsync<LeadsViewModel, Response>("Leads", Model);
			}

			_primaryForm.LoadingEnabled = false;

			var IsSucceeded = await _toastMessage.Show(res);
			if (IsSucceeded)
			{
				navigationManager.NavigateTo("/Leads");
			}
		}
		else
		{
			_primaryForm.ValidateForms();
		}
	}

	private bool IsPageHasId()
	{
		return !string.IsNullOrWhiteSpace(Id);
	}

	private async Task GetUserDetailsIfPageHasId()
	{
		if (IsPageHasId())
		{
			var Response = 
				await _leadService.GetAsync
					<Framework.Models.Response<LeadsViewModel>>($"Leads/{Id}");
			Model = Response.data;

			_segmentdStatusValue = 
						string.Concat(Model.LeadStatus.Value + 1, ".", Model.LeadStatus.Name);
		}
	}
}
