@using Leads.Models.Leads;


<Form @ref="form" 
   Model="Models"
   OnFinish="(() => Submit())"
   LabelColSpan="8"
   WrapperColSpan="16">

	<FormItem Label="@(Resources.DataDictionary.Country)">
		<Input @bind-Value="@context.Country" />
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.State)">
		<Input @bind-Value="@context.State" />
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.Street)">
		<Input @bind-Value="@context.Street" />
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.Address)">
		<Input @bind-Value="@context.Address" />
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.PostalCode)">
		<Input @bind-Value="@context.PostalCode" Type="email" />
	</FormItem>
</Form>

@code {
	[Parameter]
	public LeadsViewModel Models { get; set; }

	private Form<Models.Leads.LeadsViewModel> form;

	public void Validate()
	{
		form.Validate();
	}


	public bool Submit()
	{
		return true;
	}
}
