<Form Model="Models"
   LabelColSpan="8"
   WrapperColSpan="16">
	<FormItem Label="@(Resources.DataDictionary.Salutation)">
		<Select Mode="default"
	DataSource="_persons"
		@bind-Value="@context.Salutaion.Name"
	LabelName="@nameof(Person.Name)"
	ValueName="@nameof(Person.Name)">
		</Select>
	</FormItem>

	<FormItem Label="@(Resources.DataDictionary.FirstName)">
		<Input @bind-Value="@context.FirstName" />
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.LastName)">
		<Input @bind-Value="@context.LastName" />
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.Title)">
		<Input @bind-Value="@context.Title" />
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.Mobile)">
		<Input @bind-Value="@context.Mobile" />
	</FormItem >
	<FormItem Label="@(Resources.DataDictionary.EmailAddress)">
		<Input @bind-Value="@context.Email" Type="email" />
	</FormItem>
</Form>

@code {
	[Parameter]
	public Models.CreateLeadViewModel Models { get; set; }

	int value = 1;
	record Person(string Name);
	private List<Person> _persons = new List<Person>
		{
			new Person("John"),
			new Person("Lucy"),
			new Person("Jack"),
			new Person("Emily"),
		};

}
