@using Leads.Models.Leads;
@using Models.ValueObjects;

<Form Model="Models"
   LabelColSpan="8"
   WrapperColSpan="16">
	<FormItem Label="@(Resources.DataDictionary.LeadStatus)">
		<Select Mode="default"
	DataSource="_leadStatus"
		@bind-Value="@context.LeadStatus.Value"
	LabelName="@nameof(ValueObject.Name)"
	ValueName="@nameof(ValueObject.Value)">
		</Select>
	</FormItem>
	<FormItem Label="@(Resources.DataDictionary.LeadSource)">
		<Select Mode="default"
	DataSource="_leadSources"
		@bind-Value="@context.LeadSource.Value"
	LabelName="@nameof(ValueObject.Name)"
	ValueName="@nameof(ValueObject.Value)">
		</Select>
	</FormItem>
</Form>

@code {
	[Parameter]
	public CreateLeadViewModel Models { get; set; }


	[Parameter]
	public Models.ValueObjects.Options Options { get; set; }

	List<Models.ValueObjects.ValueObject> _leadSources = new();
	List<Models.ValueObjects.ValueObject> _leadStatus = new();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		_leadSources = Options.leadSource;
		_leadStatus = Options.leadStatus;

	}

}
