@using Leads.Models.Leads;
<Spin Tip="@(string.Concat(Resources.DataDictionary.Loading,"..."))" Spinning="LoadingEnabled">

<div class="row">
	<div class="col-md-3">
		<Card>
			<TitleTemplate>
				@(Resources.DataDictionary.Contact)
			</TitleTemplate>

			<Body>
				<ContactForm @ref="_contactForm" Models="Model" Options="Options" />
			</Body>
		</Card>
		<hr />
		<Card>
			<TitleTemplate>
				@(Resources.DataDictionary.Account)
			</TitleTemplate>
			<Body>
				<AccountForm @ref="_accountForm" Models="Model" Options="Options" />
			</Body>
		</Card>
	</div>
	<div class="col-md-6" dir="ltr">
		<Card>
			<CardTabs>
				<Tabs DefaultActiveKey="1">
					<ChildContent>
						<TabPane Key="1">
							<TabTemplate>@(Resources.DataDictionary.History)</TabTemplate>
							<ChildContent>Content of Tab History</ChildContent>
						</TabPane>
						<TabPane Key="2">
							<TabTemplate>@(Resources.DataDictionary.Activity)</TabTemplate>
							<ChildContent>Content of Tab Activity</ChildContent>
						</TabPane>
						<TabPane Key="3">
							<TabTemplate>@(Resources.DataDictionary.Notes)</TabTemplate>
							<ChildContent>Content of Tab Notes</ChildContent>
						</TabPane>
					</ChildContent>
				</Tabs>
			</CardTabs>
		</Card>
	</div>
	<div class="col-md-3">
		<Card>
			<TitleTemplate>
				@(Resources.DataDictionary.Details)
			</TitleTemplate>
			<Body>
				<DetailsForm @ref="_detailsForm" Models="Model" Options="Options" />
			</Body>
		</Card>
		<hr />
		<Card>
			<TitleTemplate>
				@(Resources.DataDictionary.Address)
			</TitleTemplate>
			<Body>
				<AddressForm @ref="_addressForm" Models="Model" />
			</Body>
		</Card>
	</div>
</div>

</Spin>
@code {
	[Parameter]
	public bool LoadingEnabled { get; set; }

	[Parameter]
	public LeadsViewModel Model { get; set; }

	[Parameter]
	public Models.ValueObjects.Options Options { get; set; }

	public AccountForm? _accountForm { get; set; }

	public ContactForm? _contactForm { get; set; }

	public DetailsForm? _detailsForm { get; set; }

	public AddressForm? _addressForm { get; set; }

	public void ValidateForms()
	{
		_addressForm?.Validate();
		_contactForm?.Validate();
		_accountForm?.Validate();
	}

	public bool IsModelValid()
	{
		return _detailsForm.Submit() &&
				_accountForm.Submit() &&
				_addressForm.Submit() &&
				_detailsForm.Submit();
	}
}
