@inject NavigationManager navigationManager
@using AntDesign;
<div class="container">
	<div class="row pt-3">
		<div class="col-1 p-3 mb-5  rounded-5">
			<a class="navbar-brand" href="#">
				<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt=""
					 width="50" height="40" class="d-inline-block align-text-top">
			</a>
		</div>
		<div class="col-10 shadow-sm p-3 mb-5 rounded header-bg-color">
			<div class="row">
				<div class="col-1 text-center">
					<button @onclick="NavToHome" type="button" class="btn btn-light"
	   style="font-size:1.5rem !important;background-color: #B8FFF9;vertical-align:sub">
						<i class="bi bi-x-diamond-fill"></i>
					</button>
				</div>
				<div class="col-10 text-center">
					@if (_toggleSearch)
					{
						<Search Class="mt-2" Placeholder="@(Resources.DataDictionary.SearchPlaceholder)" WrapperStyle="width: 100%;" ClassicSearchIcon />
					}
					else
					{
						<Menu Mode=MenuMode.Horizontal Style="background-color: #B8FFF9;text-align:center">
							<MenuItem Key="mail" OnClick="NavToLeads">
								@(Resources.DataDictionary.Leads)
							</MenuItem>
							<MenuItem Key="mail" OnClick="NavToLeads">
								@(Resources.DataDictionary.Contacts)
							</MenuItem>
							<MenuItem Key="mail" OnClick="NavToLeads">
								@(Resources.DataDictionary.Accounts)
							</MenuItem>
							<MenuItem Key="mail" OnClick="NavToLeads">
								@(Resources.DataDictionary.Opportunity)
							</MenuItem>
							<MenuItem Key="mail" OnClick="NavToLeads">
								@(Resources.DataDictionary.Tasks)
							</MenuItem>
							<MenuItem Key="mail" OnClick="NavToLeads">
								@(Resources.DataDictionary.Cases)
							</MenuItem>
							<MenuItem Key="mail" OnClick="NavToLeads">
								@(Resources.DataDictionary.Campaigns)
							</MenuItem>

						</Menu>
					}

				</div>
				<div class="col-1 text-center">
					<Button Type="@ButtonType.Text"
						   Icon="@IconType.Outline.Search"
						   OnClick="ToggleSearchText"
						   Style="font-size:1rem;margin-top: 0.35rem;" />
				</div>

			</div>
		</div>
		<div class="col-1">
			<LoginDisplay />
		</div>
	</div>
</div>


@code {

	private bool _toggleSearch = false;
	private void ToggleSearchText()
	{
		if (_toggleSearch)
		{
			_toggleSearch = false;
		}
		else
		{
			_toggleSearch = true;
		}
	}

	private void NavToLeads()
	{
		navigationManager.NavigateTo("/leads");
	}

	private void NavToHome()
	{
		navigationManager.NavigateTo("/");
	}
}
